---
- name: Deploy do Traefik Dinâmico com Let's Encrypt
  hosts: managers[0]
  become: true
  gather_facts: false
  
  vars_files:
    - swarm_vars.yml

  tasks:
    - name: Criar rede overlay publica
      shell: docker network create --driver overlay traefik-public || true
      # O "|| true" garante que a tarefa não falhe se a rede já existir

    - name: Gerar arquivo Stack a partir do Template
      template:
        src: template/traefik-stack.yml.j2
        dest: /tmp/traefik-stack.yml
        owner: ubuntu
        group: ubuntu
        mode: '0644'

    - name: Deploy do Stack no Swarm
      shell: docker stack deploy -c /tmp/traefik-stack.yml proxy
      # O docker stack deploy é idempotente o suficiente para ser usado diretamente

    - name: Exibir instruções finais
      debug:
        msg: 
          - "Deploy concluído e Stack 'proxy' iniciado!"
          - "Teste o SSL acessando: https://whoami.{{ base_domain }}"
          - "Lembre-se de configurar o CNAME no seu DNS para o NLB!"
          
    - name: Exibir instruções finais
      debug:
        msg: 
          - "Deploy concluído!"
          - "Teste o SSL acessando: https://whoami.{{ base_domain }}"
          - "Dashboard (Tunnel necessário): http://localhost:8080/dashboard/"