version: "3.8"

services:
  nginx:
    image: nginx:stable-alpine
    networks:
      - traefik-public
    ports:
      # Nginx escuta nas portas 80/443
      - target: 80
        published: 80
        mode: host
      - target: 443
        published: 443
        mode: host
    volumes:
      # Monta o arquivo de configuração gerado pelo Ansible
      - /etc/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      # Monta o diretório dos certificados (Certbot)
      - /etc/letsencrypt:/etc/letsencrypt:ro
      # Diretório para o desafio ACME (Certbot)
      - /var/www/certbot:/var/www/certbot:ro
    deploy:
      mode: global # Roda em todos os nós para HA
      placement:
        constraints:
          - node.role == manager # Roda em managers para acesso
      resources:
        limits:
          memory: 256M
    
  whoami:
    image: traefik/whoami
    networks:
      - traefik-public
    deploy:
      mode: replicated
      replicas: 3
      resources:
        limits:
          memory: 64M

networks:
  traefik-public:
    external: true