---
# ==========================================================
# FASE 1: INSTALAÇÕES PRÉ-SWARM (Docker e Base Config)
# ==========================================================
- hosts: all
  vars:
    ansible_python_interpreter: /usr/bin/python3

# 1. Instalação e Configuração do Docker (DEVE vir antes do Swarm)
#- import_playbook: docker_setup.yml 

# 2. Configuração do Swarm (Depende do Docker)
- import_playbook: swarm_setup.yml

# (Blocos comentados omitidos aqui)

# ==========================================================
# FASE 2: INFRAESTRUTURA E SERVIÇOS
# ==========================================================
- hosts: gluster_nodes
  tasks:
    - include_vars: "{{playbook_dir}}/config.yml"
    - import_role:
        name: gluster

- hosts: swarm_managers
  tasks:
    - include_vars: "{{playbook_dir}}/config.yml"
    - import_role:
        name: traefik
    - import_role:
        name: portainer

- hosts: haproxy
  tasks:
    - include_vars: "{{playbook_dir}}/config.yml"
    - import_role:
        name: haproxy